body {
    background-color: black;
    color: white;
    font-family: Oxanium;
}

.title {
    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url(./assets/images/border.png);
    border-image-repeat: stretch;
    border-image-slice: 4;
    color: aqua;
    text-align: center;
    font-family: Tiny5;
}

.topnav {
    font-family: Tiny5;
}

a {
    text-decoration: none;
    color: #0094FF;
}

.blue {
    color: #0094FF;
}